<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }
        h1 {
            margin-top: 50px;
        }
        p {
            margin-top: 20px;
        }
        a {
            display: inline-block;
            margin-top: 20px;
            border-radius: 5px;
        }

    </style>
</head>

<body>

    <h1>Student System</h1>

    <a href="{% url 'students_list' %}">View Student List</a>

</body>

</html>